*{
    box-sizing: border-box;
    font-family: monaco, serif;
}

body {
    height:100vh;
    margin:0;
    display: flex;
    background-color: #555;
    justify-content: center;
    align-items: center;
}

/*Modal CSS */
.modal-main {
    border-radius: 8px;
    height: 80vh;
    background-color: white;
    width: 900px;
    max-width: 80%;
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem .5rem 1rem;
    border-bottom: 1px solid #777; 
}

.modal-header .title {
    font-size: 1.5rem;
    padding-top: 1rem;
    align-self: flex-start;
    padding-top: 0.5rem;
    cursor: pointer;
}

.modal-header .fa-xmark {
    font-size: 1.5rem;
}

.modal-body {
    padding: 1rem;
    overflow: auto;
    flex-grow: 1;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #777;
    padding: 0.5rem;
    gap: .5rem;
}

.modal-footer .btn {
    padding: .5rem 1rem;
    border: none;
    cursor: pointer;
    color: #fff;
    border-radius: .5rem;
    font-size: inherit;

}

.btn-primary {
    background-color: #1ca;
}

.btn-primary:hover .btn-primary:focus {
    background-color: #018;
}

.btn-danger {
    background-color: tomato;
}


.btn-danger:hover .btn-danger:focus {
    background-color: #A11;
}